<div class="img-div">
  <div class="w-100 h-100 position-absolute card-img"
       [ngStyle]="{'background-image': 'url(' + product.image + ')'}"></div>
  <a class="overlay position-absolute d-flex flex-column align-items-center justify-content-center h-100 w-100 p-3 p-md-4"
    (click)="dismissModal()" [routerLink]="'/product/'  + (product.category_name | stripSpecialChars) + '/' + (product.name.sr | stripSpecialChars)">
    <h5 class="text-primary font-weight-bold">{{product.name.sr}}</h5>
    <p class="text-light text-center">{{product.description.sr}}</p>
  </a>
</div>
