<div class="img-div">
  <div class="w-100 h-100 position-absolute card-img"
       [ngStyle]="{'background-image': 'url(' + product.image + ')'}"></div>
  <a class="overlay position-absolute d-flex flex-column align-items-center justify-content-center h-100 w-100 p-3 p-md-4"
     routerLink="">
    <h5 class="text-danger font-weight-bold">Product Name</h5>
    <p class="text-light text-center">Lorem ipsum dolor sit amet tranquilasn truck bus giusto. Lorem ipsum dolor sit amet
      tranquilasn truck bus giusto. Lorem ipsum dolor sit amet tranquilasn truck bus giusto.</p>
  </a>
</div>
