@import "../../../variables";

section:not(.related-products) {
  padding-top: 125px;

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 1.05rem;
  }

}

.rounded {
  border-radius: 2rem!important;
}
