<div class="category-contant">
  <ul fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
      <li fxLayout="column"><a class="no-brd" [routerLink]="['/pocetna/proizvodi/all']"><i class="material-icons">dehaze</i>Show All</a></li>
      <li fxLayout="column"><a [routerLink]="['/pocetna/proizvodi/Headphones']"><i class="material-icons">headset</i> Headphones</a></li>
      <li fxLayout="column"><a [routerLink]="['/pocetna/proizvodi/Laptops']"><i class="material-icons">laptop</i>Laptops</a></li>
      <li><a [routerLink]="['/pocetna/proizvodi/Smartphones']"><i class="material-icons">smartphone</i>Smart Phones</a></li>
      <li><a [routerLink]="['/pocetna/proizvodi/Cameras']"><i class="material-icons">photo_camera</i>Cameras</a></li>
      <li><a [routerLink]="['/pocetna/proizvodi/Tv & Audio']"><i class="material-icons">tv</i>Tv & Audio</a></li>
      <li><a [routerLink]="['/pocetna/proizvodi/Watches']"><i class="material-icons">watch</i>Watches</a></li>
  </ul>
</div>
