<!-- section start -->
<div class="about-us-wrapper">
    <div class="container">
        <div class="about-section sec-padding" fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
                <img src="assets/images/mLogo.png" alt="m Logo">
            </div>
            <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
                <div class="about-us-intro">
                    <h2>Servis</h2>
                    <p>Umjetnost u Drvetu je kompanija koja nudi svojim korisnicima brz, kvalitetan I efikasan servis
                        informatičke opreme. Servis je opremljen najsavremenijim uređejima. U servisu je
                        uposleno više servisera koji su kvalificirani za poslove koje obavljaju. Za svu informatičku
                        opremu koju posjedujete, bez obzira da li je pod garancijom ili ne, bez obzira da li je kupljena
                        u našim poslovnicama ili nije, a koju je potrebno servisirati možete posjetiti naše
                        poslovnice u kojima će vas dočekati naši ljubazni I prvoklasni serviseri, te
                        će uraditi sve što je moguće kako bi otklonili kvar na uređaju koji je
                        potrebno servisirati.</p>

                    <h4>Usluge Umjetnost u Drvetu servisa:</h4>
                    <ul>
                        <li> Besplatna dijagnostika kvara Servisiranje računara, laptopa,
                            monitora,printera, mobilnih telefona, tableta I fiskalnih uređaja veoma efikasno I
                            kvalitetno.
                        </li>
                        <li>
                            Čišćenje I zamjena termalne paste (Zamjena paste I čišćenje
                            je preporučljivo raditi minimalno 2 puta godišnje da biste izbjegli potencijalne
                            probleme kao što su pregrijavanje I kvarenje grafičkog čipa.)
                        </li>
                        <li>
                            Nadogradnja
                            memorije na računarima I laptopima
                        </li>
                        <li>Reparacija baterija</li>
                        <li>
                            Preuzimanje I isporuka uređaja
                            (U Sarajevu postoji mogućnost preuzimanja uređaja na adresi korisnika, servisiranje u
                            poslovnici Umjetnost u Drvetua, vraćanje servisiranog uređaja na adresu)
                        </li>
                        <li>
                            Instalacija I održavanje
                            mrežne opreme
                        </li>
                        <li>Postavljanje I održavanje videonadzora</li>
                    </ul>

                    <p>Ovo su samo neke od naših usluga, posjetite naš servis računarske opreme kako
                        biste otklonili kvarove sa vaše računarke opreme, kako biste poboljšali I ubrzali
                        rad vaših računara I laptopa, te kako biste dobili sve potrebne savjete za rad sa računarskom
                        opremom. </p>
                    <p>Očekujemo Vas!</p>
                </div>
            </div>
        </div>
    </div>
</div>
