<div class="product-item-1 swiper-container" [swiper]="config">
    <div class="swiper-wrapper h-100">
        <div *ngFor="let product of product" class="swiper-slide">
            <mat-card fxLayout="column" fxLayoutAlign="space-between none">
                <div class="product-img" *ngIf="contentLoaded">
                    <a class="product-link" [routerLink]="['/pocetna/proizvod', product.id]">
                        <img [src]="product.image_url" alt="">
                    </a>
                </div>
                <div class="product-info-wrapper">

                    <span class="category" *ngIf="contentLoaded">{{product.category}}</span>
                    <div class="title-wrap" *ngIf="contentLoaded">
                        <h4>{{product.name}}</h4>
                    </div>

                    <div class="icons" fxLayout="column">
                        <a (click)="addToWishlist(product)">
                            <mat-icon class="mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon>
                        </a>
                        <a (click)="openProductDialog(product)">
                            <mat-icon>remove_red_eye</mat-icon>
                        </a>
                    </div>
                </div>
            </mat-card>
        </div>

    </div>
    <button mat-mini-fab class="swiper-button-prev swipe-arrow">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-mini-fab class="swiper-button-next swipe-arrow">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</div>

