<div class="contact-page sec-padding">
  <div class="container">
      <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Umjetnost u drvetu">
              <mat-card>
                  <div class="col-lg-7 map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d856.1423079498618!2d18.345396883255997!3d43.799671978341564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758b623c702dabb%3A0x812d019ae74be63d!2zVm9qdm9kZSDFvWl2b2ppbmEgTWnFoWnEh2E!5e0!3m2!1ssr!2sba!4v1620678331116!5m2!1ssr!2sba" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>
                  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="mt-20">
                      <div fxFlex="100" class="left-info-panel">

                          <div class="title">
                              <h3>Kontaktirajte nas</h3>
                          </div>
                          <ul>
                              <li>
                                  <i class="material-icons">home </i>
                                  <br>
                                  <h4>Adresa</h4>
                                  <br>
                                  <p class="text-muted">Vojvode Živojina Mišića 71, 71216 Bosna i Hercegovina</p>
                              </li>
                              <li>
                                  <i class="material-icons">smartphone</i>
                                  <br>
                                  <h4>Mobilni telefon</h4>
                                  <br>
                                <a href="tel:+38765627101" class="text-muted">+387 65 627 101</a>
                              </li>
                          </ul>
                      </div>
                  </div>

              </mat-card>
          </mat-tab>
      </mat-tab-group>
</div>
</div>

