<mat-toolbar-row fxHide fxShow.gt-sm class="container" fxLayout="row" fxLayout.xs="row"
                 fxLayoutAlign="space-between center">
    <div class="main-menu" fxLayout="row" fxHide fxShow.gt-sm>
        <a [routerLink]="['/pocetna']" routerLinkActive="router-link-active" mat-button class="mat-button">Početna</a>
        <a [routerLink]="['/info/kontakt']" routerLinkActive="router-link-active" mat-button
           class="mat-button">Kontakt</a>
        <a [routerLink]="['/info/o-nama']" routerLinkActive="router-link-active" mat-button class="mat-button">O nama</a>
    </div>
</mat-toolbar-row>



