@import "../../../variables";

header {
  z-index: 60000000;
  position: absolute;
  width: 100%;

  #logo {
    width: 100px;
  }

  span.flags {
    button {
      img {
        width: 30px;
      }

      &:focus {
        outline: 0;
        border: 0;
      }
    }
  }

}


.no-background {
  background-color: transparent;
  color: white!important;
}

.background {
  background-color: $light;
  color: $dark;
  border: 10px solid #d1d1d1;
}

.search {
  .input-group-append {
    span {
      border-radius: 0 50rem 50rem 0;
    }
  }

  .form-control {
    border-radius: 50rem 0 0 50rem;
  }
}
