<!-- section start -->
<div class="about-us-wrapper">
    <div class="container">
        <div class="about-section sec-padding" fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
                <img src="assets/images/mLogo.png" alt="m Logo">
            </div>
            <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
                <div class="about-us-intro">
                    <h2>Načini plaćanja</h2>
                    <p>
                        Umjetnost u Drvetu d.o.o. je osnovana 2004. godine u Sarajevu. Primarna djelatnost kompanije je uvoz,
                        prodaja i servis novih i korištenih računara, računarske opreme i fiskalnih uređaja.
                    </p>
                    <p>
                        Sa poslovnicama u Sarajevu, Mostaru i Bijeljini, Umjetnost u Drvetu čini jednu od vodećih kompanija u
                        Bosni i Hercegovini u segmentu trgovine računarima i računarskom opremom. Umjetnost u Drvetu također
                        vrši prodaju i servis korištenih računara, a nivo kvaliteta usluge koji je postignut stalnim
                        ulaganjem u opremu i kadar svakodnevno potvrđuju stotine zadovoljnih klijenata koji iz naših
                        poslovnica odlaze sa osmijehom. Zato se ponosimo činjenicom da nam 95 % posto kupaca ukazuje
                        svoje povjerenje ponovnim dolaskom.
                    </p>
                    <p>
                        Prilagođavajući se trendovima koje nameće razvoj moderne informacijsko-komunikacijske
                        tehnologije, Umjetnost u Drvetu svakodnevno usavršava svoje poslovne vještine nudeći kupcima najnovije
                        proizvode i najveću vrijednost za novac koji su odlučili potrošiti u nekoj od naših poslovnica.
                    </p>
                    <p>
                        Ozbiljan tržišni nastup prepoznale su i vodeće svjetske firme u oblasti IT-a, pa je tako Media
                        Market odnedavno postao i licencirani trgovac Microsoft-a za operativni sistem Windows 7, te za
                        software kao što je Adobe, Corel, Nero i mnogi druge.
                    </p>
                    <p>
                        Korisne stvari je krilatica koja najbolje opisuje naš odnos prema kupcima i poslu. Mi ne
                        prodajemo samo računare i računarsku opremu, već stvari koje vrijede mnogo više - korisne
                        stvari!
                    </p>
                    <p>
                        Umjetnost u Drvetu  d.o.o. Sarajevo <br>
                        Milana Preloga 8 <br>
                        Hrasno, pored Bosmala <br>
                        71000 Sarajevo <br>
                        <br>
                        Ž.R. 1610000090610039 <br>
                        Raiffeisen banka <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="our-values sec-padding">
        <div class="container">
            <div class="title-wrapper">
                <h2>Naše Vrhunske Usluge</h2>
                <p>
                    Umjetnost u Drvetu već više od 15 godina pruža vrhunsku uslugu svojim zadovoljnim kupcima.
                </p>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column" class="box-wraper">
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
                    <div class="content">
                        <div class="icon-box">
                            <i class="material-icons">
                                done_all
                            </i>
                        </div>
                        <h4>Vrhunski kvalitet</h4>
                        <p>
                            Naši proizvodi renomiranih brendova, su pravljeni po najvišim standardima.
                        </p>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
                    <div class="content">
                        <div class="icon-box">
                            <i class="material-icons">
                                build
                            </i>
                        </div>
                        <h4>Besplatna dijagnistoka</h4>
                        <p>
                            Mi pružamo brz i pouzdan servis svim našim kupcima.
                        </p>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
                    <div class="content">
                        <div class="icon-box">
                            <i class="material-icons">
                                local_shipping
                            </i>
                        </div>
                        <h4>Dostava na kućnu adresu</h4>
                        <p>
                            Organizujemo usluge dostave proizvoda direktno na vaš prag.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
