<section class="container">
<div class="row mt-5 p-5">
  <div class="col-3">
    <ul>
      <li>
        <a routerLink="add-product">Dodaj proizvod</a>
      </li>
      <li>
        <a routerLink="add-category">Dodaj kategoriju</a>
      </li>
      <li>
        <a routerLink="edit-product">Izmjeni proizvod</a>
      </li>
      <li>
        <a routerLink="edit-category">Izmjeni kategoriju</a>
      </li>
    </ul>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>
</section>

