
<div >
    <div class="container"fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxlayoutalign="space-between center">
      <div class="logo">
          <a href="" [routerLink]="['/home/one']" routerLinkActive="router-link-active" ><img src="assets/images/logo-01.png"></a>
      </div>
      <div fxflexoffset.gt-sm="10"  fxFlex class="search-form">
       <form class="search-form" fxLayout="row">
         <div class="form-wrap">
            <input type="text" placeholder="Type to search...">
            <button class="btn-search" mat-raised-button color="primary" type="submit">Search</button>
         </div>
       </form>
      </div>
    </div>
  </div>



