<!-- section start -->
<div class="about-us-wrapper">
    <div class="container">
        <div class="about-section sec-padding" fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
                <img src="assets/images/mLogo.png" alt="m Logo">
            </div>
            <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
                <div class="about-us-intro">
                    <h2>Fiskalizacija</h2>
                    <p>
                        Umjetnost u Drvetu pored prodaje fiskalnih uređaja vrši I pružanje usluga
                        fiskalizacije, održavanja I servisiranja fiskalnih uređaja. Da biste počeli
                        sa procesom fiskalizacije neophodno je da potpišete ugovor o
                        servisiranju i tehničkoj podršci za uređaj koji imate namjeru da kupite.
                    </p>
                    <p>
                        Ako kupac želi da promijeni servisera i da potpiše ugovor sa Media
                        Marketom, potrebno je da dostavi kopiju dokumenta o raskidu Ugovora
                        sa prethodnim servisom ako fiskalni uređaj nije defiskaliziran i ukoliko je
                        aktivan, rješenje o fiskalizaciji i dodatna rješenja ukoliko ih je bilo , ZIF i
                        ostale obrasce ako je bilo naknadnih fiskaliacija i ID broj .Ukoliko fiskalni
                        uređaj zahtjeva servis, potrebno je dostaviti servisnu knjigu i fisklani
                        uređaj.
                    </p>
                    <p>
                        Umjetnost u Drvetu je ovlašteni distributer za sljedeće fiskalne uređaje:
                    </p>

                    <ol>
                        <li>
                            1. TERMOL M
                        </li>
                        <li>
                            2. TERMOL S
                        </li>
                        <li>
                            3. BEST BA PLUS
                        </li>
                        <li>
                            4. SECUNDA BA
                        </li>
                        <li>
                            5. EPSON BA
                        </li>
                    </ol>
                    <p>
                        Za sve dodatne informacije o fiskalizaciji I održavanju fiskalnih uređaja
                        kontaktirajte našu poslovnicu, a specifikaciju fiskalnih uređaja možete
                        pronaći na web shopu.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
