<div class="product-item" itemscope itemtype="https://schema.org/Product">
  <mat-card fxLayout="column" fxLayoutAlign="space-between none" class="h-100">
    <div class="product-img">
        <a class="product-link" [routerLink]="['/pocetna/proizvod', product.id]">
          <img itemprop="image" class="object-fit" [src]="product.image_url" alt="{{product.name}}">
       </a>
       <div class="icons" fxLayout="column">
         <a (click)="addToWishlist(product)" class="hvr-icon-pulse-shrink"><mat-icon class="hvr-icon mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon></a>
         <a (click)="openProductDialog(product)" class="hvr-icon-pulse-shrink"><mat-icon class="hvr-icon">remove_red_eye</mat-icon></a>
        </div>
    </div>
     <div class="product-info-wrapper">
        <span class="category">{{product.category}}</span>
        <div class="title-wrap">
           <h4 itemprop="name">{{product.name}}</h4>
        </div>
        <div class="price-wrap" fxLayout="row" fxLayoutAlign="space-between center">
            <span class="d-none" itemprop="priceCurrency" content="BAM">KM</span>
            <span class="d-none" itemprop="price" content="1000.00">product.discount_price</span>
         <p>{{product.discount_price | price:productsService?.currency:'symbol'}}</p>
        <a (click)="addToCart(product)" ><mat-icon class="mat-icon-lg mat-icon material-icons">shopping_cart</mat-icon></a>
        </div>
     </div>
  </mat-card>
</div>
