<section>
  <div class="swiper-container" [swiper]="config">

    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="position-relative">
          <div class="img-div w-100" [ngStyle]="{'background-image': 'url(' + bgImg + ')'}"></div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="position-relative">
          <div class="img-div w-100" [ngStyle]="{'background-image': 'url(' + bgImg2 + ')'}"></div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="position-relative">
          <div class="img-div w-100" [ngStyle]="{'background-image': 'url(' + bgImg + ')'}"></div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="position-relative">
          <div class="img-div w-100" [ngStyle]="{'background-image': 'url(' + bgImg2 + ')'}"></div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="position-relative">
          <div class="img-div w-100" [ngStyle]="{'background-image': 'url(' + bgImg + ')'}"></div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="position-relative">
          <div class="img-div w-100" [ngStyle]="{'background-image': 'url(' + bgImg2 + ')'}"></div>
        </div>
      </div>
    </div>
  </div>
</section>
