<section>
  <div class="swiper-container" [swiper]="config">

    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <app-single-product [product]="{image: bgImg}"></app-single-product>
      </div>
      <div class="swiper-slide">
        <app-single-product [product]="{image: bgImg2}"></app-single-product>
      </div>
      <div class="swiper-slide">
        <app-single-product [product]="{image: bgImg}"></app-single-product>
      </div>
      <div class="swiper-slide">
        <app-single-product [product]="{image: bgImg2}"></app-single-product>
      </div>
      <div class="swiper-slide">
        <app-single-product [product]="{image: bgImg}"></app-single-product>
      </div>
      <div class="swiper-slide">
        <app-single-product [product]="{image: bgImg2}"></app-single-product>
      </div>
      <div class="swiper-slide">
        <app-single-product [product]="{image: bgImg}"></app-single-product>
      </div>
      <div class="swiper-slide">
        <app-single-product [product]="{image: bgImg2}"></app-single-product>
      </div>

    </div>
  </div>
</section>
