<section class="pb-4 pb-xl-5">
  <div class="p-4 p-xl-5 mt-4 mt-xl-5 container mx-auto boxed shadow-light">
    <h2 class="text-center text-uppercase font-weight-bold text-primary" i18n>Category Name</h2>
    <p class="text-center container mx-auto" i18n>Lorem ipsum dolor sit amet, consectetur
      adipisicing elit.
      Assumenda consequuntur corporis eius eum ex fugit id quo.
      Expedita nesciunt placeat quaerat quibusdam. Alias amet dolore in ipsa odio quaerat quisquam?Lorem ipsum dolor sit
      amet, consectetur adipisicing elit. Assumenda consequuntur corporis eius eum ex fugit id quo.
      Expedita nesciunt placeat quaerat quibusdam. Alias amet dolore in ipsa odio quaerat quisquam?</p>
  </div>
</section>
<section class="products row">
  <div class="col-6 px-0 col-lg-2" *ngFor="let product of products">
    <app-single-product [product]="product"></app-single-product>
  </div>
</section>
