<!-- section start -->
<div class="about-us-wrapper">
    <div class="container">
        <div class="about-section sec-padding" fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
                <img src="assets/images/mLogo.png" alt="m Logo">
            </div>
            <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
                <div class="about-us-intro">
                    <h2>Opšti uslovi</h2>
                    <p>
                        Putem Umjetnost u Drvetu web shopa moguće je izvršiti kupovinu robe samo na području Bosne i
                        Hercegovine što podrazumijeva dostavu kupljenih proizvoda isključivo na ovom području. Cijene
                        izražene na web shopu odnose se na plaćanje gotovinom, virmanom i debitnom karticom na sljedeći
                        način:
                    </p>
                    <ol>
                        <li>
                            <h5>1. Virmanski</h5>
                            <p>
                                Robu plaćate uplatom putem opšte uplatnice, virmana u banci ili plaćanjem putem
                                elektronskog bankarstva;
                            </p>
                        </li>
                        <li>
                            <h5>2. Gotovinom pouzećem</h5>
                            <p>
                                Robu plaćate u gotovini osblju koje dostavi robu prilikom preuzimanje iste na vašoj
                                adresi ili osoblju u našoj poslovnici;
                            </p>
                        </li>
                        <li>
                            <h5>3. Kartično plaćanje </h5>
                            <p>
                                Omogućeno u našim poslovnicama
                            </p>
                        </li>
                        <li>
                            <h5>4. Plaćanje na rate</h5>
                            <p>
                                Plaćanje na rate kreditnim karticama, uz penzionerski ček, te putem robnih kredita je
                                omogućeno u našim poslovnicama. Za informacije o cijenama, potrebnoj dokumentaciji i
                                broju rata možete nas kontaktirati ili posjetiti u najbližoj poslovnici.
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
