<div class="main-slider">
    <div class="swiper-container h-100" [swiper]="config">
        <div class="swiper-wrapper h-100">
            <div *ngFor="let slide of slides" class="swiper-slide">
                <div [ngStyle]="{'background-image': 'url(' + slide.image_url + ')'}"  class="slide-item ">
                    <div class="container sl-wrap">
                        <div fxLayout="column" fxLayoutAlign="start none" class="content pt-35">
                            <h2 class="text-white">{{slide.name}}</h2>
                            <p class="text-white">{{slide.description}}</p>
                            <a routerLink="{{slide.link}}" *ngIf="slide.name && slide.link"
                               mat-raised-button color="primary">NASTAVI</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination white"></div>
        <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>


