<!-- section start -->
<div class="about-us-wrapper">
    <div class="container">
        <div class="about-section sec-padding" fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
                <img src="assets/images/mLogo.png" alt="m Logo">
            </div>
            <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
                <div class="about-us-intro">
                    <h2>Zaštita ličnih podataka</h2>
                    <p>
                        Umjetnost u Drvetu prikuplja lične podatke kupaca samo u mjeri koji su nužni za ispunjenje svoje
                        obveze isporuke robe, za informisanje o novim i akcijskim proizvodima te dostavu promotivnih
                        materijala, unaprijeđenje odnosa sa kupcima te radi provjere drugih podataka neophodnih za
                        online kupovinu.
                    </p>
                    <p>
                        Prodavač se obvezuje štiti osobne podatke kupaca u skladu sa Općom uredbom o zaštiti podataka i
                        drugim primjenjivim propisima te se obvezuje da lične podatke neće ni na koji način ustupiti
                        trećim osobama bez pristanka kupca (osim podataka koji su nužni poslovnim partnerima za
                        izvršavanje dostave kupljenog proizvoda).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
