<section class="banner-section position-relative">
  <div id="bannerCarousel" class="carousel slide  carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/banner/1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/banner/2.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <div class="overlay position-absolute d-flex align-items-center justify-content-center">
    <a href="/home#firstSection"
       class="btn btn-dark start-button-hover d-flex align-items-center justify-content-center"><span>START</span></a>
  </div>
</section>
<a name="firstSection"></a>
<app-simple-image></app-simple-image>
<app-swiper></app-swiper>
<app-simple-image [imagePos]="'left'"></app-simple-image>
<section class="categories-accordion py-4 py-lg-5 bg-light">
  <div class="container">
    <h2 class="text-center font-weight-bolder">Categories</h2>
    <p class="text-center">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch.
    </p>

  </div>
</section>
