<section class="categories-accordion py-4 py-lg-5">
  <div class="container boxed p-4">
    <h2 class="text-center font-weight-bolder" i18n>Categories</h2>
    <p class="text-center" i18n>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch.
    </p>
  </div>
  <section class="fdb-block py-4 py-md-5">
    <div class="container">
      <div class="row text-center justify-content-center">

        <div class="col-6 col-md-3 pt-5 pt-sm-0" *ngFor="let category of categories">
          <div class="py-4 py-md-5 px-4 shadow-light bg-white">
            <img alt="image" class="fdb-icon" src="{{category.icon}}">
            <h3 class="font-weight-bold text-primary text-uppercase" i18n>{{category.title.sr}}</h3>
            <p class="mt-3">
              <button type="button" class="btn btn-dark" (click)="sendProductsToModal(category)" data-toggle="modal" data-target="#categoryModal" i18n>
                VIEW MORE
              </button>
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
</section>

<app-cat-prod-modal></app-cat-prod-modal>
