<!-- section start -->
<div class="about-us-wrapper">
    <div class="container">
        <div class="about-section sec-padding" fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
                <img src="assets/images/mLogo.png" alt="m Logo">
            </div>
            <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
                <div class="about-us-intro">
                    <h2>Dostava</h2>
                    <p>
                        Umjetnost u Drvetu omogućava dostavljanje robe na adresu. Proizvode koje naručite preko portala bit će
                        dostavljeni u roku od tri dana od trenutka potvrde narudžbe, te ukoliko bude bilo smetnji u
                        isporuci o istim ćete biti na vrijeme obaviješteni. Dostava je besplatna za kupovinu nove robe u
                        vrijednosti preko 200 KM, te za kupovinu korištene robe u vrijednosti preko 100 KM.
                    </p>
                    <p>
                        Dostavu u Sarajevu vrši naš dostavljač, a dostavu u drugim gradovima Bosne I Hercegovine vršimo
                        putem angažovane kurirske službe.
                    </p>
                    <p>
                        Prilikom preuzimanja dostavljene robe kupac je dužan pregledati isporučenu robu i u slučaju
                        vidljivog oštećenja ima pravo odbiti preuzimanje iste te tražiti isporuku neoštećene robe.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
