<footer class="footer-two sec-padding">
    <div class="container">
        <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="footer-widget about-widget">
                <p>
                    <a routerLink="/info/opsti-uslovi">Opšti uslovi</a> |
<!--                    <a routerLink="/info/nacini-placanja">Načini plaćanja</a> |-->
                    <a routerLink="/info/dostava">Dostava</a> |
<!--                    <a routerLink="/info/reklamacije">Povrat i reklamacije</a> |-->
                    <a routerLink="/info/zastita-licnih-podataka">Zaštita ličnih podataka</a>
<!--                    <a routerLink="/info/cesta-pitanja">Česta pitanja</a>-->
                </p>
                <p>
                    Copyright ©  Umjetnost u Drvetu d.o.o.
                </p>
            </div>

          <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
            <a class="logo" routerLink="/pocetna">
              <img src="/assets/images/mLogoWhite.png" alt="M Logo">
            </a>
          </div>

            <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2"
                 class="footer-widget links-widget links-widget-pac">
                <div class="title">
                    <h5>Kontaktirajte nas</h5>
                    <ul fxLayout="row" class="social list-inline">
                        <li>
                            <a href="https://www.facebook.com/UMJETNOST-U-DRVETU-Sreto-Kova%C4%8D-174329559293384" target="_blank" color="primary" mat-icon-button aria-label="Example icon-button with a heart icon">
                                <img src="/assets/images/facebook.png" class="social-img" alt="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/umjetnost_u_drvetu_/" target="_blank" color="primary" mat-icon-button aria-label="Example icon-button with a heart icon">
                                <img src="/assets/images/instagram.png" class="social-img" alt="instagram">
                            </a>
                        </li>
                    </ul>
                </div>
              <p><b>Tel:</b>+387 65 627 101</p>
              <p><b>Email:</b>info@umjetnostudrvetu.com</p>
            </div>

<!--            <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget subscribe-widget">-->
<!--                <div class="title">-->
<!--                    <h5>Prijavi se na mailing listu</h5>-->
<!--                </div>-->
<!--                <form action="#" [formGroup]="newsLetterForm" (ngSubmit)="onSubmit()">-->
<!--                    <p>Dobijte najnovije ponude.</p>-->
<!--                    <div fxLayout="column" class="newsletter-widget">-->
<!--                        <input type="text" placeholder="Unesi svoj email" formControlName="email">-->
<!--                        <button mat-raised-button color="primary" type="submit" class="ped-btn-footer">PRIJAVI SE-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </form>-->
<!--                <p class="error">{{error}}</p>-->
<!--                <p class="success">{{success}}</p>-->
<!--            </div>-->


<!--            <div fxFlex="100" fxFlex.gt-sm="28" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2"-->
<!--                 class="footer-widget subscribe-widget">-->
<!--                <a href="http://prodajavozila.com/" target="_blank">-->
<!--                    <img src="/assets/images/prodajavozila2.jpg" alt="Car Add">-->
<!--                </a>-->
<!--            </div>-->


        </div>
    </div>
</footer>
